@page "/bosses"
@inject BossService BossServiceInstance

<h3>Boss List</h3>

@if (bosses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (var boss in bosses)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class=" data-item px-5 max-height-400">
                    <h4 class="data-item_heading mt-5">@boss.Name</h4>
                    <img src="@boss.Image" alt="@boss.Name" class="data-item_image"/>
                    <p><strong>Location:</strong> @boss.Location</p>
                </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<Boss>? bosses;

    protected override async Task OnInitializedAsync()
    {
       bosses = await BossServiceInstance.GetAllBosses();
    }
}
