@page "/creatures"
@inject CreatureService CreatureServiceInstance

<h3>Creatures List</h3>

@if (creatures == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (var creature in creatures)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 ">
                <div class="npc-item data-item px-5 max-height-400">
                    <h4 class="data-item_heading mt-5">@creature.Name</h4>
                    <img src="@creature.Image" alt="@creature.Name" class="data-item_image"/>
                    <p><strong>Location:</strong> @creature.Location</p>
                </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<Creature>? creatures;

    protected override async Task OnInitializedAsync()
    {
        creatures = await CreatureServiceInstance.GetAllCreatures();
    }
}
