@page "/"

<PageTitle>Index</PageTitle>
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Hello, Tarnished!</h1>
    Use this to help you on your journey to become...Elden Lord!
</div>
